.content_title{
    font-size: xx-large;
}

.topContent{
    display: flex;
    justify-content: space-between;
}

.topContent img{
    margin-left: 20px;

    width: 25%;
    height: auto;
    max-width: 300px;
    max-height: 300px;

    border-radius: 25px;
}

@media screen and (max-width: 1200px) {
    .topContent{
        flex-direction: column;
    }

    .topContent img{
        margin-left: 0;

        width: 90%;
        height: auto;    
        border-radius: 25px;
        align-self: center;
    }
}